*~
.coveralls.yml
Debian_CPANTS.txt
META.yml
MYMETA.json
MYMETA.yml
/Makefile
/Makefile.old
/Opcodes-*.tar.gz
/Opcodes.c
/Opcodes.c.gcov
/Opcodes.gcda
/Opcodes.gcno
/Opcodes.i
/Opcodes.o
/Opcodes.xs.gcov
/blib
/const-c.inc
/const-c.inc.gcov
/const-xs.inc
/const-xs.inc.gcov
/cover_db
/log.makeinstall-*
/log.test-*
/pm_to_blib
